@import '../../shared/scss/variables.module';

.container {
  display: flex;
  align-items: flex-start;

  & > *:not(:last-child) {
    margin-right: $spacing-04;
  }

  .uploadImgInput {
    display: none;
  }
}
