@import '../../shared/scss/variables.module';

.container {
  display: flex;
  align-items: center;

  .name {
    margin-right: $spacing-04;
  }

  .you {
    font-size: small;
    color: $light-text-color;
  }
}
