$app-header-font-size: 24px;
$message-source-font-size: 16px;

$gray-bg-color: #eee;
$btn-hover-bg-color: #ccc;
$white-bg-color: #fff;

$light-text-color: #ccc;

$spacing-02: 2px;
$spacing-03: 4px;
$spacing-04: 8px;
$spacing-05: 16px;

$message-text-area-min-height: 100px;
