@import '../../shared/scss/variables.module';

.container {
  background-color: $gray-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $app-header-font-size;

  .nameIdentifier {
    margin: 0 $spacing-05 $spacing-05 $spacing-05;
    text-align: center;
  }
}
