@import '../../shared/scss/variables.module';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: $spacing-04;
  overflow: auto;

  & > *:not(:last-child) {
    margin-bottom: $spacing-04;
  }

  .messagesContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .textArea {
    resize: none;
    min-height: $message-text-area-min-height;
  }
}
